@model Book

<h4>Book Details</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <img src="@Url.Content("~/uploads/books/" + Model.CoverImage)"
             alt="@Model.Title" class="img-fluid rounded"
             style="height: 800px; object-fit: cover; width: 100%;" />
    </div>

    <div class="col-md-7 d-flex flex-column">
        <h3>@Model.Title</h3>
        <div class="d-flex justify-content-between mb-3">
            <div><strong>Author:</strong> @Model.Author?.Name </div>
            <div><strong>Price:</strong> $@Model.Price</div>
        </div>
        <h5>Description:</h5>
        <p>@Model.Description</p>
        <hr />
        <div class="d-flex justify-content-between align-items-center mt-3">
            <a href="@Url.Action("Index")" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Back</a>
            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-success">
                Add to Cart
            </a>
        </div>
    </div>
</div>
