@model IEnumerable<Author>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Authors";
}
<div class="row mb-3">
    <div class="col-md-8 offset-md-2">
        <div class="d-flex justify-content-between align-items-center">
              @if (User.IsInRole("Admin"))
{
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create new
            </a>
}
       
            <form class="d-flex" asp-action="Index" method="get" style="min-width: 300px;">
                <input class="form-control me-2" type="search"
                       name="searchString"
                       value="@ViewData["CurrentFilter"]"
                       placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success d-inline-flex align-items-center" type="submit">
                    <i class="bi bi-search me-1"></i> Search
                </button>
            </form>
        </div>
    </div>
</div>





<div class="row">

    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model =>model.ProfilePicture)</th>
                    <th>@Html.DisplayNameFor(model =>model.Name)</th>
                  
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@Url.Content("~/uploads/profiles/"+item.ProfilePicture)" alt="@item.Name" style="max-width:150px;" />
                        </td>
                        <td class="align-middle">
                            <a asp-action="Details" asp-controller="Authors" asp-route-id="@item.Id" > @Html.DisplayFor(model =>item.Name)</a>
                           
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td class="align-middle">

                                <a asp-action="Edit" asp-controller="Authors" asp-route-id="@item.Id" class="btn btn-outline-primary" ><i class="bi bi-pencil-square">Edit</i></a> |
                                <form asp-action="Delete" asp-controller="Authors" asp-route-id="@item.Id" method="post" style="display:inline;"
                              onsubmit="return confirm('Are you sure you want to delete this author?');">
                                    <button type="submit" class="btn btn-danger text-white">
                                        <i class="bi bi-trash"></i> Delete
                                    </button>
                                </form>

                            </td>
                        }
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>
